.add-to-cart-content-inner form.commerce-order-item-add-to-cart-form {
  color: #7e7e7e;
  text-align: center;
}
.add-to-cart-content-inner form.commerce-order-item-add-to-cart-form h4 {
  color: #7e7e7e;
  font-family: "Roboto",sans-serif;
  font-size: 0.9375rem;
  margin-top: 10px;
}
.add-to-cart-content-inner form.commerce-order-item-add-to-cart-form .form-item-minutes input {
  width: 100px;
  padding: 2px 6px;
}
.add-to-cart-content-inner .commerce-order-item-add-to-cart-form .js-form-type-date {
  display: inline-block;
  padding-right: 5px;
}
